<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737975083606-vr46j6qhk38rtladuendsbs9fqm0rcsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737975083606-vr46j6qhk38rtladuendsbs9fqm0rcsf</string>
	<key>API_KEY</key>
	<string>AIzaSyCi5qLUzrTqztIRVFuSYVKX0vAnw2BuT9E</string>
	<key>GCM_SENDER_ID</key>
	<string>737975083606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>remind-memo-1b0ef</string>
	<key>STORAGE_BUCKET</key>
	<string>remind-memo-1b0ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737975083606:ios:3c01eda1b6ad3d4d7f11f7</string>
</dict>
</plist>